In [3]:
import os
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [15]:
data_firms = pd.read_parquet(r"C:\Users\USER\Work\Y3\DSI321\DSI324_wildfire\api local\firms_outout", engine="pyarrow")
data_firms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3280 entries, 0 to 3279
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_id       3280 non-null   object
 1   latitude         3280 non-null   float64
 2   longitude        3280 non-null   float64
 3   brightness       3280 non-null   float64
 4   scan             3280 non-null   float64
 5   track            3280 non-null   float64
 6   acq_date         3280 non-null   object
 7   acq_time         3280 non-null   object
 8   satellite        3280 non-null   object
 9   instrument       3280 non-null   object
 10  confidence       3280 non-null   int64
 11  version          3280 non-null   object
 12  bright_t31       3280 non-null   float64
 13  frp              3280 non-null   float64
 14  daynight         3280 non-null   object
 15  acq_datetime     3280 non-null   datetime64[ns]
 16  acq_datetime_th  3280 non-null   datetime64[ns, Asia/Bangkok]
 17  acq_year         3280 non-null   category
 18  acq_month        3280 non-null   category
 19  acq_day          3280 non-null   category
 20  acq_hour         3280 non-null   category
 21  acq_minute       3280 non-null   category
dtypes: category(5), datetime64[ns, Asia/Bangkok](1), datetime64[ns](1), float64(7), int64(1), object(7)
memory usage: 454.1+ KB

In [18]:
data_firms.drop_duplicates(inplace=True)
data_firms.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2838 entries, 0 to 3277
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_id       2838 non-null   object
 1   latitude         2838 non-null   float64
 2   longitude        2838 non-null   float64
 3   brightness       2838 non-null   float64
 4   scan             2838 non-null   float64
 5   track            2838 non-null   float64
 6   acq_date         2838 non-null   object
 7   acq_time         2838 non-null   object
 8   satellite        2838 non-null   object
 9   instrument       2838 non-null   object
 10  confidence       2838 non-null   int64
 11  version          2838 non-null   object
 12  bright_t31       2838 non-null   float64
 13  frp              2838 non-null   float64
 14  daynight         2838 non-null   object
 15  acq_datetime     2838 non-null   datetime64[ns]
 16  acq_datetime_th  2838 non-null   datetime64[ns, Asia/Bangkok]
 17  acq_year         2838 non-null   category
 18  acq_month        2838 non-null   category
 19  acq_day          2838 non-null   category
 20  acq_hour         2838 non-null   category
 21  acq_minute       2838 non-null   category
dtypes: category(5), datetime64[ns, Asia/Bangkok](1), datetime64[ns](1), float64(7), int64(1), object(7)
memory usage: 415.3+ KB

In [ ]:
shape_path =                    -